# DM app configuration.
# Change default options by commenting and uncommenting lines below.

DOCKER=true
# BUILD=true
# BG=true


# Define resource locations below.

DM_SOURCE=$HOME/.ostis/dm


# Define web-platform components

platform_repos=(
  "ostis-ai/ostis-web-platform:test_scp_machine:ostis-web-platform"
  "NikitaZotov/sc-machine-1:fix/deadlocks:ostis-web-platform/sc-machine"
  "ostis-ai/scp-machine:main:ostis-web-platform/scp-machine"
  "ostis-ai/sc-web:main:ostis-web-platform/sc-web"
  "qaip/ims.ostis.kb:main:ostis-web-platform/ims.ostis.kb"
)

# Define DM components

dm_repos=(
  "ostis-apps/gt-knowledge-base:0.8.0:knowledge-base"
  "ostis-apps/gt-knowledge-processing-machine:0.8.0_fix:agents"
)
